<launch>
  <!-- Slam Gmapping Node -->
  <node name="slamNode"          pkg="gmapping"  type="slam_gmapping" output="screen">
    <param name="odom_frame" type="string" value="odom" />
    <param name="map_update_interval" value="1.0"/>
    <param name="xmin" value="-7"/>
    <param name="xmax" value="7"/>
    <param name="ymin" value="-7"/>
    <param name="ymax" value="7"/> 
    <param name="delta" value="0.05"/>
  </node>
  <!-- MapMatrix 
  -->
  <node name="mapMatrix"          pkg="irobot_control_base"  type="mapMatrix.py" output="screen">
  </node>
  <!-- Move Base 
  -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="controller_frequency" value="10.0"/>
      <rosparam file="$(find irobot_control_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find irobot_control_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find irobot_control_base)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find irobot_control_base)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find irobot_control_base)/config/trajectory_planner.yaml" command="load" />
    </node>
</launch>

